In [4]:
# intall required package to mysql workbench
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\arshv\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\arshv\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [1]:
#
import mysql.connector as conn

In [2]:
# connection request by passing username & password
# password of your mysql workbench
mydb=conn.connect(host="localhost",user="root",password="#Itsasa78")

In [3]:
# create a cursor or pointer
cursor=mydb.cursor()

In [4]:
# to execute any command in this file
cursor.execute('SHOW DATABASES')

In [5]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('swiggy',),
 ('sys',)]

In [15]:
cursor.execute('CREATE DATABASE swiggy')

In [16]:
cursor.execute('CREATE TABLE swiggy.swiggyoneusers_signup(userid integer,swiggyone_signup_date date)')

In [6]:
cursor.execute('USE swiggy')

In [7]:
cursor.execute('SHOW TABLES')

In [8]:
cursor.fetchall()

[('product',), ('sales',), ('swiggyoneusers_signup',), ('users',)]

In [20]:
cursor.execute('INSERT INTO swiggy.swiggyoneusers_signup(userid,swiggyone_signup_date) VALUES(1,"2017-09-22"),(3,"2017-04-21)")');

## To make the changes reflected in the mysql workbench after every insertion in the table

In [21]:
# to make the changes reflected in the mysql workbench 
# after every insertion in the table
mydb.commit()

In [22]:
cursor.execute('SELECT * FROM swiggy.swiggyoneusers_signup')
cursor.fetchall()

[(1, datetime.date(2017, 9, 22)), (3, datetime.date(2017, 4, 21))]

In [25]:
cursor.execute('CREATE TABLE swiggy.users(userid integer,signup_date date)')
cursor.execute('USE swiggy')
cursor.execute('SHOW TABLES')
cursor.fetchall()

[('swiggyoneusers_signup',), ('users',)]

In [27]:
cursor.execute('INSERT INTO swiggy.users(userid,signup_date) VALUES(1,"2014-02-19"),(2,"2015-01-15"),(3,"2014-04-11")');

In [9]:
cursor.execute("SELECT * FROM swiggy.users")
cursor.fetchall()

[(1, datetime.date(2014, 2, 19)),
 (2, datetime.date(2015, 1, 15)),
 (3, datetime.date(2014, 4, 11))]

In [30]:
mydb.commit()

In [31]:
cursor.execute('CREATE TABLE swiggy.sales(userid integer,created_date date,product_id integer)')

In [10]:
cursor.execute('USE swiggy')
cursor.execute('SHOW TABLES')
cursor.fetchall()

[('product',), ('sales',), ('swiggyoneusers_signup',), ('users',)]

In [34]:
cursor.execute('INSERT INTO swiggy.sales(userid,created_date,product_id) VALUES(1,"2014-04-19",2),(3,"2019-12-18",1),(2,"2020-07-20",3)');

In [37]:
cursor.execute('INSERT INTO swiggy.sales(userid,created_date,product_id) VALUES(1,"2018-03-19",3),(3,"2016-12-20",2),(1,"2016-09-11",1),(1,"2016-05-20",3)')
cursor.execute('INSERT INTO swiggy.sales(userid,created_date,product_id) VALUES(1,"2016-05-20",3),(2,"2017-09-24",1),(1,"2017-03-11",2),(1,"2016-03-11",1),(3,"2016-11-10",1),(3,"2017-12-07",2),(3,"2016-02-15",2),(2,"2017-11-08",2),(2,"2018-09-10",3)')

In [11]:
cursor.execute('Select * from swiggy.sales')
cursor.fetchall()

[(1, datetime.date(2014, 4, 19), 2),
 (3, datetime.date(2019, 12, 18), 1),
 (2, datetime.date(2020, 7, 20), 3),
 (1, datetime.date(2018, 3, 19), 3),
 (3, datetime.date(2016, 12, 20), 2),
 (1, datetime.date(2016, 9, 11), 1),
 (1, datetime.date(2016, 5, 20), 3),
 (1, datetime.date(2016, 5, 20), 3),
 (2, datetime.date(2017, 9, 24), 1),
 (1, datetime.date(2017, 3, 11), 2),
 (1, datetime.date(2016, 3, 11), 1),
 (3, datetime.date(2016, 11, 10), 1),
 (3, datetime.date(2017, 12, 7), 2),
 (3, datetime.date(2016, 2, 15), 2),
 (2, datetime.date(2017, 11, 8), 2),
 (2, datetime.date(2018, 9, 10), 3)]

In [39]:
mydb.commit()

In [40]:
cursor.execute('CREATE TABLE swiggy.product(product_id integer,product_name text,price integer)')

In [12]:
cursor.execute('USE swiggy')
cursor.execute('SHOW TABLES')
cursor.fetchall()

[('product',), ('sales',), ('swiggyoneusers_signup',), ('users',)]

In [42]:
cursor.execute('INSERT INTO swiggy.product(product_id,product_name,price) VALUES(1,"p1",980),(2,"p2",870),(3,"p3",330)');

In [13]:
 cursor.execute('Select * from swiggy.product')
cursor.fetchall()

[(1, 'p1', 980), (2, 'p2', 870), (3, 'p3', 330)]

In [44]:
mydb.commit()

## Sales Analysis

### Q1. What is the total amount each customer is spending on swiggy platform ?

In [14]:
 cursor.execute("select s.userid, SUM(p.price) totalAmount from sales s INNER JOIN product p ON s.product_id=p.product_id GROUP BY s.userid")

In [15]:
cursor.fetchall()

[(1, Decimal('4690')), (3, Decimal('4570')), (2, Decimal('2510'))]

### Q2. What is the most purchased item on the Menu ?

In [16]:
cursor.execute("select product_id from sales GROUP BY product_id ORDER BY COUNT(product_id) DESC LIMIT 1")

In [17]:
cursor.fetchall()

[(2,)]

### Q3 What was the first product purchased by each of the customers ?

In [18]:
cursor.execute("select * from (select *,rank() over (partition by userid order by created_date) rnk from sales) res where rnk = 1")

In [19]:
cursor.fetchall()

[(1, datetime.date(2014, 4, 19), 2, 1),
 (2, datetime.date(2017, 9, 24), 1, 1),
 (3, datetime.date(2016, 2, 15), 2, 1)]

### Q4. Which item was the most popular item for each customer ?

In [20]:
cursor.execute('SELECT * FROM (SELECT *,rank() OVER(PARTITION BY userid ORDER BY CNT DESC) rnk FROM(SELECT userid, product_id, count(product_id) CNT FROM sales GROUP BY userid, product_id)a)b WHERE rnk=1')

In [21]:
cursor.fetchall()

[(1, 3, 3, 1), (2, 3, 2, 1), (3, 2, 3, 1)]